html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.navigation-bar {
  width: calc(100vw / 10);
  max-width: 220px;
  height: 100vh;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

.navigation-bar-content {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.navigation-bar-header {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
}

.navigation-bar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation-bar-item {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

.navigation-bar-item:hover {
  background-color: #e9ecef;
}

.main-content {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  justify-content: center;
  align-items: center;
  position: relative;
}

.download-button, .export-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.download-button:hover, .export-button:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.mermaid-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  height: 500px;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

.navigation-buttons{
  transform: translate(-400px, -300px);
}